<manifest package="com.orcchg.vikstra"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.orcchg.vikstra.app.AndroidApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:vmSafeMode="true">

        <!-- Start -->
        <activity android:name=".app.ui.main.StartActivity"
                  android:label="@string/main_screen_title"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Groups -->
        <activity android:name=".app.ui.group.detail.GroupDetailActivity"
                  android:label="@string/group_detail_screen_title"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait"/>

        <activity android:name=".app.ui.group.list.activity.GroupListActivity"
                  android:label="@string/group_list_screen_title"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait"/>

        <!-- Keywords -->
        <activity android:name=".app.ui.keyword.list.KeywordListActivity"
                  android:label="@string/keyword_list_screen_title"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait"/>

        <activity android:name=".app.ui.keyword.create.KeywordCreateActivity"
                  android:label="@string/keyword_create_screen_title"
                  android:windowSoftInputMode="adjustResize"
                  android:screenOrientation="portrait"/>

        <!-- Main -->
        <activity android:name=".app.ui.main.MainActivity"
                  android:label="@string/main_screen_title"
                  android:theme="@style/AppTheme"/>

        <!-- Posts -->
        <activity android:name=".app.ui.post.create.PostCreateActivity"
                  android:label="@string/post_create_screen_title"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait"/>

        <activity android:name=".app.ui.post.list.PostListActivity"
                  android:label="@string/post_list_screen_title"
                  android:theme="@style/PostListTheme"/>

        <activity android:name=".app.ui.post.single.PostSingleGridActivity"
                  android:label="@string/post_single_grid_screen_title"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait"/>

        <activity android:name=".app.ui.post.view.PostViewActivity"
                  android:label="@string/post_view_screen_title"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait"/>

        <!-- Report -->
        <activity android:name=".app.ui.report.ReportActivity"
                  android:label="@string/report_screen_title"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait"/>

        <!-- Status -->
        <activity android:name=".app.ui.status.StatusActivity"
                  android:label="@string/status_screen_title"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait"/>

        <!-- Provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.orcchg.dev.maxa.vikstra.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>
